<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Learn Angular Js</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div ng-app="myApp" ng-controller="myCtrl">
			First Name : <input type="text" ng-model="firstName"><br>
			Last Name : <input type="text" ng-model="lastName"><br>
			Full Name : {{ firstName + " " + lastName }}
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller('myCtrl', function($scope){
			$scope.firstName = "John";
			$scope.lastName = "Doe";
		});
	</script>
</body>
</html>